:root {
  --clr-neutral-white: hsl(0, 100%, 100%);
  --clr-purple-100: hsl(275, 100%, 97%);
  --clr-purple-600: hsl(292, 16%, 49%);
  --clr-purple-950: hsl(292, 42%, 14%);

  --fs: 1em; /* That's 16px */

  --ff-base: "Work Sans", sans-serif;

  /* --fw-light: 400; */
  /* --fw-regular: 600; */
  /* --fw-bold: 700; */
}

.work-sans-font {
  /* font-family: "Work Sans", sans-serif; */
  /* font-optical-sizing: auto; */
  /* font-weight: var(--fw-regular); */
  /* font-style: normal; */
}

body {
  /* color: var(--clr-purple-950); */
  font-family: var(--ff-base);
  /* height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* background-color: var(--clr-purple-100); */
}

.faq__main {
  /* max-width: 25rem; */
  /* margin-inline-start: 1rem; */
  /* margin-inline-end: 1rem; */
}
.overpass-font {
  /* font-family: "Overpass", sans-serif; */
  /* font-optical-sizing: auto; */
  /* font-weight: var(--fw-bold); */
  /* font-style: normal; */
}

.faq-article {
  /* margin-inline-start: 1rem; */
  /* margin-inline-end: 1rem; */
  /* border: 1px solid red; */
  /* background-color: var(--clr-neutral-white); */
}

.mobile-header {
  /* width: fit-content; */
}

.header-image {
  /* width: 100%; */
}

.picture-holder {
  /* border: 1px solid red; */
}
